@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root{
    --primary-color: #E55F5F;
    --dark-grey: #4B5563;
    --off-grey: #E5E7EB;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #111827;
    color: white;
    

}

hr{
    margin: 2rem 0;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    
}

.container-center{
    max-width: 600px;
    margin: auto;   
    
}

/** links **/
.link{
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;


}
.primary-link{
    margin: 1rem 0rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;

    
}

.secondary-link{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

/** lists **/

.list-non-bullet{
    list-style: none;
}

.list-inline{
    display: inline;
    padding: 0rem 0rem;
}

ol{
    padding-inline-start: 0px;
}

.section .list-project{
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 0;
}

.projects .project-list{
    padding-bottom: 2.5rem;
}

.projects .ow{
    border-radius: 1.5rem;
    padding-left: 1rem;
    
}


/** navigation **/
.navigation{
    background-color: #E55F5F;
    color: white;
    padding: 0.5rem;
    border-radius: 0 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
    font-style: italic;
}

.navigation .nav-pills{
    text-align:right;
    
}
.navigation .link{
    color: white;
    padding: 0.5rem 0.5rem;
}

.navigation .link-active{
    font-weight: bold;
}


/** header **/
.header{
    padding: 2rem;
}

.header .header-img{
    max-width: 250px;
    display: block;
    margin: auto;
    
}

.header .header-heading{
   
    text-align: center;
    color: var(--dark-grey);
}

.header .heading-inverted{
    color: var(--primary-color);
}

/** section **/


.section h1{
    text-align: center;
    padding: 2rem 2rem 2rem 0rem;

}

.projects .section h1{
    text-align: left;
    padding: 2rem 2rem 1rem 0rem;

}

.section{
    padding: 0.5rem 0rem;
    object-fit: cover;
}


.ow{
    padding: 0.5rem 0rem;
    background-color: var(--off-grey);
    color: black;

}

.sec .ow{
    margin: 0rem 3rem;
    border-radius: 3rem;
    
}



.sec .ow p{
    padding-top: 2rem;
}

.section .container{
    border-radius: 1.5rem;
}

.showcase-list {
    
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    margin: 1rem auto;
}
/** footer **/
.footer{
    padding: 2rem 1rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 0rem 1rem;
    text-align: center;
}

.footer .link{
    color: white;
}

.footer .footer-header{
    font-size: large;
    font-weight: bold;
}

.sec .footer{
    padding: 1rem;
}

.footer p{
    padding: 0 0 0 0.2rem;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    
}

h2